.containerCurrentDay {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 500px;
  height: 500px;
  background-color: #38CEC4;
}

.dayOfMonth {
  color: white;
  font-size: 230px;
  font-weight: 300;
}


.dayOfWeek {
  color: white;
  font-size: 30px;
  text-transform: uppercase;
}