.containerCurrentDay {
  width: 500px;
  height: 500px;
  background-color: #38CEC4;
}

.dayOfMonth {
  color: white;
  font-size: 230px;
  text-align: center;
}


.dayOfWeek {
  color: white;
  font-size: 30px;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 40px;
}